.footer {
  width: 100%;
  padding: 25px 50px;
  box-sizing: border-box;

  background-color: #e5e0d8;
  color: #3e3f29;

  text-align: center;
  font-size: 14px;
  font-weight: 500;

  border-top: 1px solid rgba(62, 63, 41, 0.1);

  margin-top: auto;
}

@media (max-width: 768px) {
  .footer {
    padding: 20px;
    font-size: 12px;
  }
}
